####################################################
# Vivado
####################################################

*.jou
*.log
*.str
*.pb
*.Xil
*.cache
*.runs
*.sim
*.hw
*.ip_user_files
*.gen

.cache/
.hw/
.sim/
.runs/
.gen/
.ip_user_files/
.Xil/

####################################################
# Temporary
####################################################

*.tmp
*.bak
*.swp
*.swo
*~

####################################################
# VS Code
####################################################

.vscode/

####################################################
# Python
####################################################

__pycache__/
*.pyc

####################################################
# Build Artifacts
####################################################

build/

####################################################
# ELF Debug Files
####################################################

*.map

####################################################
# Operating System
####################################################

.DS_Store
Thumbs.db

####################################################
# Simulation
####################################################

xsim.dir/
webtalk/
usage_statistics_webtalk.xml
vivado_pid*.str

####################################################
# Generated Reports
####################################################

*.rpt

####################################################
# User-specific
####################################################

*.user
*.user.*